.item {
  margin: 1rem 0;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  padding: 1rem;
  background-color: #EDF5FF;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item:hover {
  border: 1px solid #0075FF;
}
.checkbox {
  padding: 10px;
}
.actions {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.icon {
  color: #9FCAFF;
  margin-left: 15px;
}
.icon:hover {
  color: red;
}
input[type=checkbox] {
  cursor: pointer;
  width: 21px;
  height: 21px;
  outline: none;
}
